h1 {
    font-size: 40px;
}

body {
    background-image: url(/assets/images/backgroundpic.jpg);
}

.container-1 {
    background-color: #c36a2d;
    color: white;
    width:330px;
    font-size: 35px;
    padding: 25px;
    padding-left: 33px;
    margin: 10px;
}

.container-2 {
    background-color: #eadca6;
    color: #587850;
    width: 650px;
    font-size: 20px;
    padding-top: 20px;
padding-left: 33px;
margin: 10px;
text-align: 
}