h1 {
    font-size: 40px;
}
/* ../images/backgroundpic.jpg https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHWT_Mm_7W0fyLMYzeUFZ1YskMx-IAFrO1Y6GroEowgaf1pZ8A */
body {
    background-image: url(../images/backgroundpic.jpg);
}



.container-1 {
    background-color: #c36a2d;
    color: white;
    width:330px;
    font-size: 35px;
    padding: 25px;
    padding-left: 33px;
    margin: 10px;
}

.container-2 {
    background-color: #eadca6;
    color: #587850;
    width: 650px;
    font-size: 20px;
    padding-top: 20px;
padding-left: 33px;
margin: 10px;
line-height: 23px;
}

.container-3 {
    padding-left: 25px;
    
}

.card1 {
    background-color: #83b582;
}

.card-title2 {
    text-align: center;
}

.card-title3 {
    font-size: 40px;
    color: rebeccapurple;
    width: 200px;
}

.card2 {
    background-color: #305f72;
}

.btnSecondary1 {
    font-size: 50px;
    background-color: seashell;
    width: 120px;
    right: 14px;
    color: #e4508f;
    background-image: url(../images/pic1.jpeg);
}

.btnSecondary2 {
    font-size: 50px;
    background-color: seashell;
    width: 120px;
    margin-right: 14px;
    color: #e4508f;
    background-image: url(../images/pic2.jpeg);
}

.btnSecondary3 {
    font-size: 50px;
    background-color: seashell;
    width: 120px;
    height: 120px;
    margin-right: 14px;
    color: #e4508f;
    background-image: url(../images/pic3.jpeg);
}

.btnSecondary4 {
    font-size: 50px;
    background-color: seashell;
    width: 120px;
    color: #e4508f;
    background-image: url(../images/pic4.jpeg);
}

.form-control1 {
    width: 340px;
    height: 80px;
    background-color: #4baea0;
    margin: 11px;
    font-size: 30px;
}

.form-control2 {
    width: 340px;
    height: 150px;
    background-color: #4baea0;
    margin: 11px;
    font-size: 30px;
}

.total {
    margin-left: 20px;
}

#score {
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    color: seashell;
}